* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header,
section h2,
section h3,
form button {
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
}

body,
input,
textarea {
    font-family: 'Faustina', serif; 
}

section p {
    font-size: 17px;
    margin-bottom: 12px;
}

.teams, .taças, 

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header nav li,
#titles li {
    display: inline;
    margin-left: 16px;
    font-size: 24px;
}

header nav li a {
    text-decoration: none;
}

header .container, 
section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

body > header {
    background-color: rgb(57, 93, 176);
}

header h1,
header nav li a {
    color: white;
}

section h2 {
    color: rgb(57, 93, 176);
}

form button {
    background-color: rgb(57, 93, 176);
    color: white;
    border: none;
    cursor: pointer;
}

section {
    padding: 16px 0;
}

section .container {
    align-items: flex-start;
}

.felipe {
    margin-right: 32px;
    width: 650px;
}

.felipe-taça {
    height: 400px;
    margin-left: 32px;
}

.teams img {
    height: 48px;
}

.teams li {
    margin-right: 16px;
    display: inline;
}

section h2,
section h3,
p {
    margin-bottom: 8px;
}

#titles {
    background-color: rgba(110, 152, 250, 0.181);
}

#contact {
    padding: 0 200px;
}

.social-links img {
    height: 48px;
}

.social-links li {
    display: inline;
    margin-right: 16px;
}

.social-links li a {
    text-decoration: none;
}

form input,
form textarea,
form button {
    display: block;
    margin-bottom: 8px;
    width: 320px;
    padding: 8px;
}

form textarea {
    resize: none;
}

input:focus, textarea:focus {
    outline-color: rgb(57, 93, 176);
}

form button:hover {
    background-color: rgb(96, 128, 205);
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: rgb(57, 93, 176);
    color: white;
    padding: 16px 0;
}